# ==========================================
# Visual Studio / .NET
# ==========================================

.vs/
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# Test Results
# ==========================================

TestResults/
*.trx

# ==========================================
# Logs / Temporary Files
# ==========================================

*.log
*.tmp

# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db